@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Raleway';
  src: url(../fonts/Raleway-Regular.ttf);
}

$primary-color1: #80D8FE;
$primary-color2: #FFFF8D;
$primary-color3: #CDFF90;
$primary-color4: #FF80AB;
$primary-gray: #464445;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3{
  font-family: 'Raleway', sans-serif;
}
p{
  font-size: 1.2em;
}

h1{
  font-family: 'Raleway', sans-serif;
  font-size: 2.4em;
  margin-bottom: 30px;
}

a{
  text-decoration: none;
  color: black;
}

body{
  background-image: url("../img/bg.jpg");
  background-size: 60%;
  background-position: top;
}

nav{
  height: 8vh;
  background-color: #464445;
  box-shadow: 0 5px 10px #1c1c1c;

  span{
    float: right;

    a{
      font-size: 2em;
      font-family: Raleway;
      color: white;
      display: inline-block;
      height: 8vh;
      padding-top: 2.5vh;
      padding: 40px;

      &:hover {
        border-bottom: 5px solid $primary-color1;
      }
    }
  }
}

.content{
  width: 80%;
  margin: auto;

  .logo img{
    height: 7vh;
    margin: 0.5vh 0;
  }
}

main{
  min-height: calc(100vh - 8vh - 60px - 120px);
  width: 80%;
  margin: auto;
  //background-color: #80D8FE;
  //padding: 20px;
  margin-top: 120px;
}

.front-logo-big{
  width: 100%;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 150px;

  img{
    width: 30%;
    margin-left: 35%;
  }
}

section{
  width: 100%;
  min-height: 300px;
  background-color: rgba(255,255,255,0.95);
  padding: 20px;
}
.bottom-stribe{
  .first, .second, .third, .fourth{
    width: 25%;
    height: 15px;
    float: left;
  }

  .first{background-color: $primary-color1}
  .second{background-color: $primary-color2}
  .third{background-color: $primary-color3}
  .fourth{background-color: $primary-color4}
}

.forside-stribe{
  width: 1720px;
  margin: auto;
}

.forside-section{
  width: 1720px;
  margin: auto;
  padding-bottom: 30px;
}

figure{
  margin: 0;
  padding: 0;
  background-color: red;
  width: 300px;
  height: 300px;
  display: inline-block;
  margin-right: 20px;
  border-radius: 100%;
  position: relative;
  margin-bottom: 20px;

  &:last-child{
    margin-right: 0;
  }

  img{
    background-color: #80D8FE;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
  }

  figcaption{
    background-color: pink;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}

.ommig1, .ommig2{
  width: calc(50% - 10px);
  margin-right: 10px;
  background-color: #FF80AB;
  height: 100px;
  display: inline-block;
}

.ommig2{
  margin-left: 10px;
  margin-right: 0;
}

footer{
  width: 100%;
  height: 60px;
  text-align: center;

  p{
    font-size: 1.5em;
    color: grey;
    line-height: 60px;
    display: inline-block;
  }
}